$brightgreen: #007A00;
$purple:#5B067A;
$headerColor: #222222;
$activeLinkColor: #494949;
$hoverLinkColor: #535353;
$footerTextColor: #99a3a3;
$footerBackgroundColor: #353535;
$homeContainersBackground: rgba(146, 146, 146, 0.349);
$cardDescriptionBackground: rgb(43, 43, 43);
$cardButtonBackgroundOnHover:rgb(67, 187, 52);
