.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(max-width:800px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__platforms {
    display: flex;
    align-items: center;
    margin-top: 50px;
    border-radius: 50px;
    min-height: 500px;
    background: $homeContainersBackground;
    @media screen and(max-width:800px) {
      width: 60%;
      flex-direction: column;
      padding: 30px;
    }
  }
}
.games-container--home {
  display: flex;
  justify-content: center;
  width: auto;
}

.platform-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  background-color: $headerColor;
  width: 350px;
  border-radius: 30px;
  text-decoration: none;
  border: 2px solid $purple;
  margin: 0 20px;
  -webkit-transition: background 0.2s;
  &__logo {
    height: 55%;
    /* stylelint-disable-next-line scss/no-global-function-names */
    filter: invert(1);
    @media screen and(max-width:800px) {
      height: auto;
      width: 65%;
      margin-bottom: 10px;
      // height: 300px;
    }
  }

  &__title {
    margin-top: 50px;
    color: white;
    font-size: 23px;
    @media screen and (max-width: 800px) {
      margin-top: 20px;
    }
  }

  &:hover {
    background-color: $hoverLinkColor;
    -webkit-transition: background 0.2s;
  }
  @media screen and(max-width:800px) {
    width: 90%;
    margin: 20px 0;
    padding: 10px 0;
    height: auto;
  }
}

.home__top-products-container {
  display: flex;
  @media screen and(max-width:800px) {
    flex-direction: column;
    padding: 30px;
  }
}
