.no-matches-element {
  font-size: 27px;
  color: rgb(190, 190, 190);
  padding: 20px;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  font-size: 22px;
  color: white;
  margin-top: 30px;
  font-weight: bold;

  &__image {
    height: 60px;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  background-color: $headerColor;
  padding: 30px;
  color: white;
  border-radius: 20px;
  border: 3px solid $hoverLinkColor;
  font-size: 20px;
  &__title-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__close-btn {
    margin-top: -30px;
    margin-right: -10px;
    font-size: 35px;
    cursor: pointer;
    color: white;
    border: none;
    background: none;
    &:hover {
      color: $hoverLinkColor;
    }
  }
  &__title {
    font-size: 28px;
  }
}

.modal-overlay {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.info-modal {
  background-color: #6986d4;
  transition: all 0.5s ease-in;
  padding: 50px 80px;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.notification {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;

  color: white;
  font-weight: 600;
  height: 40px;
  text-align: center;
  margin-top: 60px;
  &--success {
    background: $cardButtonBackgroundOnHover;
  }
  &--danger {
    background: red;
  }
}
